{% extends 'base.html' %}

{% block title %}<title>Edit Post</title>{% endblock %}
{% block content %}

<h1>Edit Post</h1>
<hr>
  <h2>Edit:</h2>
  <form action="/posts/edit/{{ post.id }}" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" name="title" id="title" type="text" value="{{ post.title }}" aria-label="Enter Title">
    <br>
    <label for="content">Content:</label>
    <textarea class="form-control" id="content" name="content" rows="3" aria-label="Enter Content..">{{ post.content }}</textarea>
    <br>
    <label for="author">Author:</label>
    <input class="form-control" name="author" id="author" type="text" value="{{ post.author }}" aria-label="Enter Author">
    <br>
    <input class="btn btn-primary btn-sm" type="submit" value="Save">
  </form>
<hr>

</body>
{% endblock %}