{% extends 'base.html' %}

{% block title %}<title>Posts</title>{% endblock %}
{% block content %}

<h1>All Posts</h1>
<hr>
  <h2>Craete New Blog Post:</h2>
  <form action="/posts" method="POST">
    Title: <input type="text" name="title" id="title">
    <br>
    Content: <input type="text" name="content" id="content">
    <br>
    Author: <input type="text" name="author" id="author">
    <br>
    <input type="submit" value="POST">
  </form>
<hr>
{% for post in context %}
<h3>{{ post.title }}</h3>
{% if post.author %}
  <h3>By: {{ post.author }}</h3>
{% else %}
  <h3>By: N/A</h3>
{% endif %}
<p>{{ post.content }}</p>
<a href="/posts/edit/{{ post.id }}">Edit</a>
<a href="/posts/delete/{{ post.id }}">Delete</a>
<hr>
{% endfor %}
</body>
{% endblock %}